@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{

    --maintextcolor: rgb(172, 164, 164);
    --unactivetextcolor: rgb(76, 71, 71);
    --toreviewcolor: #608cb6c7;
    --backdrop: #22262c;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Aboreto', cursive;
    list-style: none;
    font-weight: 900;
}
body{
    background-color: var(--backdrop);
    padding: 0;
    margin: 0;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(59, 37, 37, 0);
}
a{
    color: inherit;
}
h1{
    font-size: calc(3vw + 10px);
}
h2{
    font-size: calc(6vw + 10px);
    color: var(--toreviewcolor)
}
h1, h2{
    margin-block: 0.1em;
}
.student{
    font-size: calc(2.4vw + 5px);
    margin-block-start: 0.1em;
    margin-block-end: calc(15vw - 10%);
}
.reviev{
    font-size: calc(1.5vw + 5px);
    text-decoration: underline;
    margin-block-end: 2em;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  var(--maintextcolor);
}
.hw{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(35vh + 150px);
}
.month{
    padding-block-end: 30px;
}
.homeworkslist{
    padding: 0;
    margin: 0;
}

h3{
    font-size: calc(.7vw + 5px);
    text-align: center;
}

.homework{
    color: var(--unactivetextcolor);
    font-size: calc(1.5vw + 5px);
    text-align: center;
    margin-block: 15px;
    width: calc(30vw + 15px);
    border: 1px solid var(--unactivetextcolor);
    border-radius: 10px;
}
.homework:hover{
    color: var(--maintextcolor);
    border: 1px solid var(--maintextcolor);
}
.date{
    font-size: smaller;
    font-weight: 100;
    text-decoration: underline;

}
.forreview{
    color: var(--maintextcolor);
    border: 1px solid var(--maintextcolor);
    animation: forreview 1.3s linear infinite;

}
.forreview:hover{
    animation: none;  
}


main{
    position: relative;
}
main::before{
    content: "";
    display: block;
    background: linear-gradient(0deg, var(--backdrop) 0%, transparent 90%);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}







@keyframes forreview {
    0% {
        transform: scale(0.97);
        
    }
    50% {
        transform: scale(1.03);
        color: var(--toreviewcolor);
        border: 1px solid var(--toreviewcolor);
    }
    100% {
        transform: scale(0.97);
    }
}

.link{
    padding: 10px;
    display: block;
    border-radius: 10px;
}
