*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 30px;
    width: calc(100vw );
    height: calc(100vh );
}

span{
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    display: block;
    width: 100%; 
    align-self: center;
    text-align: center;
}


.wrapper{
    width: 100%;
    background-color: #ccc;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}



.sidebar{
    background-color:#ff7676;
    height: auto;
    aspect-ratio: 1;
    width: 500px;
    display: flex;
}




.main{
    width: calc(100% - 515px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.header{
    background-color: #5f9ea0;
    width: 100%;
    flex: 1 1;
    display: flex;
}
.section{
    display: flex;
    flex-wrap: wrap;
    flex: 2 1;
    gap: 30px;
}


.article{
    background-color: #c5ae99;
    width: calc(50% - 15px);
    display: flex;
}
.aside{
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.aside__block{
    background-color: #724d4d;
    height: calc(50% - 7.5px);
    display: flex;

}



@media (max-width: 1024px) {

    .wrapper{
        flex-direction: column-reverse;
        gap: 30px;
    }
    
    .sidebar{
        width: 100%;
    }
    .main{
        width: 100%;
        min-height: 500px;
    }

}

@media (max-width: 768px) {
    body{
        padding: 0;
    }
    .wrapper{
        padding: 15px;
        min-height: 100%;
        flex-direction: row;
    }
    .sidebar{
       display: none;
    }
    .header{
        flex: 0 0;
        min-height: 150px;
    }
    .article{
        width: 100%;
        min-height: 400px;
    }
    .aside{
        width: 100%;
    }   
    
}



