* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #fff;
    --menuline: 1px;
    --textcolorblue: #4285f4;
    --textcolorred: #ea4335;
    --textcoloryello: #fbbc05;
    --textcolorgreen: #34a853;
    --backgroundcolor: #181818ea;
}


.gallery_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.gallery_arrow{
    text-align: center;
    font-size: calc(5vw + 50px);
}
.gallery_arrow:hover{
    transform: scale(1.05); 
    transition: 0.3s;
}

.gallery_arrow:active{
   color: #4285f4;
   transition: 0s;
   transform: scale(0.95) ; 
    
}



.gallery_caroucell {
    aspect-ratio: 1.6/1;
    display: flex;
    overflow: hidden;
    /* border: 3px solid #fff; */
    
    /* width: 100%; */
}
#photos{
    width: 100%;
    display: flex;
    transition: 0.4s;
}
.gallery_photo_conteiner{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;

}
.gallery_photo_conteiner img{
    border: 5px solid #fff;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}






.cube{
    width: 300px;
    height: 300px;
    /* overflow: hidden; */
    margin: 200px auto;
    position: relative;
    perspective: 1000px;
   display: none;
}
.room{
    transform-style: preserve-3d;
    width: inherit;
    height: inherit;
    transition: 1s;
}

.photo{
    width: 300px;
    height: 300px;
    border: 5px solid red;
    color: red;
    font-size: 50px;
    line-height: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4285f4;
}
*{
 --scale: 0.8;
 --outcenter: 220px;
}
.photo1{
    transform: rotateY(0deg) translateZ(var(--outcenter)) scale(var(--scale));
}
.photo2{
    transform: rotateY(60deg)  translateZ(var(--outcenter))  scale(var(--scale));
}
.photo3{
    transform: rotateY(120deg)  translateZ(var(--outcenter))  scale(var(--scale));
}
.photo4{
    transform: rotateY(180deg)  translateZ(var(--outcenter))  scale(var(--scale));
}
.photo5{
    transform: rotateY(240deg)  translateZ(var(--outcenter))  scale(var(--scale));
}
.photo6{
    transform: rotateY(300deg)  translateZ(var(--outcenter))  scale(var(--scale));
}


































